#imagen {
    width: 500px;
    height: 375px;
    position: relative;
}

    #imagen > div {
        position: relative;
        bottom: 270px;
        color: white;
        font-size: 20px;
        margin-left: 280px;
        padding: 2px;
    }
