.navbar-inverse {
    background-color: #337ab7;
    border-color: #080808;
    width:auto;
    font-size:15px;
}

.navbar-left{
    height:70px;
}

.navbar-inverse small {
    color: white;
    font-size: .9em;
}

.jumbotron p {

margin-left:-60px;
margin-top:-10px;
opacity:3;
width: 200px; 

}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
{
    float:right;
    font-size:20px;
    margin-top:20px;
    color:white;
}