.navbar-inverse {
    background-color: #337ab7;
    border-color: #080808;
    width:auto;
    font-size:15px;
}

.navbar-left{
    height:70px;
}

.navbar-inverse small {
    color: white;
    font-size: .9em;
}

.jumbotron p {

margin-left:-60px;
margin-top:-10px;
opacity:3;
width: 200px; 

}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
{
    float:right;
    font-size:20px;
    margin-top:20px;
    color:white;
}


h2.Contacto{
    margin-top:60px;
}

h2.Login{
    margin-top:40px;
}
h2.Registro{
    margin-top:40px;
}

h2.ListaClientes{
    margin-top:60px;
}

h2.NuevoCliente{
    margin-top:60px;
}

/*#col1 { margin-left: -554px; height: 58px; width: 154px;} 
#col2 { height: 45px; width: 600px; }*/