@{
    ViewBag.Title = "Contáctenos";
}
<h2 class="Contacto">@ViewBag.Title.</h2>

    <address>
        Arias y Santa Rosa<br />
        Castelar<br />
        <abbr title="Phone">TE 1:</abbr>
        (011) 15-2613-1212<br />
        <abbr title="Phone">TE 2</abbr>
        (011) 15-2176-0438

    </address>

    <address>
        <strong>Soporte:</strong>   <a href="mailto:Support@example.com">GPSupport@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">GPMarketing@example.com</a>
    </address>
