@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <p><img src="~/Content/Images/ImageTarjeta.png" /></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg" style="width:400px; margin-left:350px;">Sacar Tarjeta &raquo;</a></p>

</div>


<div class="row">
    <div class="col-md-4">
        <h2>Conocenos</h2>
        <p>
            Somos uno de los bancos líderes del mercado argentino.
            Siempre nos destacamos por estar cerca de nuestros clientes y comprometidos con el desarrollo sustentable de la Argentina.
        </p>
        <p><a class="btn btn-primary btn-lg">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nuestros Productos</h2>
        <p>Ofrecemos Tarjetas de Créditos, Préstamos Personales, Créditos Hipotecarios y más...</p>
        <p><a class="btn btn-primary btn-lg" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ingresar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trabajá con Nosotros</h2>
        <p>Conocé todas las propuestas que tenemos para vos.</p>
        <p><a class="btn btn-primary btn-lg" href="~/Views/Home/About.cshtml">Ingresar CV &raquo;</a></p>
    </div>
</div>
